<div id="left-side-menu">
	<div id="user-container">
		<a href="#">
			<img id="user-avatar" src="assets/img/background/81YkbanioTL.jpg">
		</a>
		<div id="user-account">
			<span>long20014</span>
		</div>
	</div>
	
	<ul id="nav">
		<li><a routerLink="" routerLinkActive="active">Home</a></li>
		<li><a routerLink="/main" routerLinkActive="active">Main</a></li>
		<li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
		<li><a routerLink="/community" routerLinkActive="active">Community</a></li>
		<li><a routerLink="/support" routerLinkActive="active">Support</a></li>
		<li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
		<li><a routerLink="/login" routerLinkActive="active">Login</a></li>
		
	</ul>
</div>