#lover-panel #lover-info {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center; }

.lover-container {
  width: 100%;
}

#lover-panel #lover-info img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 3px solid var(--lover-pink);
  transition: all ease 0.4s;
  object-fit: cover; }

#lover-panel #lover-info img:hover {
  border: 3px solid purple;
}

#lover-panel #lover-log {
  width: 90%;
  height: 240px;
  background: white;
  border: 1px solid black;
  overflow-y: scroll;
  padding: 5px; }

#lover-chat-box {
  width: 90%;
  height: 90px;
  background: white;
  border: 1px solid black;
  overflow-y: scroll;
  padding: 5px;
  margin-top: 20px; 
}
#lover-chat-box textarea {
  width: 100%;
}

#quest-list, #quest-desc{
  width: 90%;  
  background: white;
  border: 1px solid black;
  overflow-y: scroll;
  padding: 5px;
  margin-top: 20px; }

#quest-list {
  height: 280px;
}

#quest-desc {
  height: 150px;
}

#lover-log .info {
  color: green;
}

#lover-log .warning {
  color: black;
}

#lover-log .alert {
  color: red;
  padding: 0;
  margin: 0 0 10px
}

#lover-log .action {
  color: blue;
}