<div class="vl-panel" id="lover-panel">
	<div class="tab-place">
		<button class="tab tab-1 active" (click)="activeTab($event); tabSwitch('log-container')">Logs</button>
		<button class="tab tab-1" (click)="activeTab($event); tabSwitch('quest-container')">Quest</button>
		<button class="tab tab-1" (click)="activeTab($event); tabSwitch('avatar-container')">Avatar</button>		
	</div>
	<div class="lover-container">
		<div id="log-container" class="panel-container">
			<div id="lover-info">
				<img src="assets/img/background/Shinozaki Ai 07.jpg" alt="">					
			</div>
			<div id="lover-log">
				<p *ngFor="let log of logs" [class]=[log.status]>{{log.msg}}</p>
				<!-- 
				<p>Game start...</p>
				<p>Your lover is hungry! (Appetite 40/100)</p>
				<p>You get your lover to a restaurant.</p>
				<p>You call a beefsteak. (Money -200)</p>				
				<p>Your lover is full (Appetite +30, Happiness +3)</p>				
				<p>Your lover caught a fever (Health -30, Happiness -4)</p>				
				<p>You get your lover to a hospital. (Money -300)</p>				
				<p>Your lover is fine now (Health +30, Happiness +2).</p>
				-->
			</div>
			<div id="lover-chat-box">
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>				
		</div>

		<div id="quest-container" class="panel-container tab--hide">
			<div id="quest-list"></div>
			<div id="quest-desc"></div>
		</div>

		<div id="avatar-container" class="panel-container tab--hide">
			<div id="lover-info">
				<img src="assets/img/background/Shinozaki Ai 07.jpg" alt="">					
			</div>
			
		</div>
	</div>
	
	
</div>